.confirm {
    text-align: center;
}

.confirm__icon {
    width: 50px;
    margin-bottom: 30px;
}

.confirm__text {
    line-height: 1.5em;
}

@media screen and (min-width: 992px) {
    .confirm__icon {
        width: auto;
    }
}