div:has(> .confirm) {
    padding-block: 0;
}

form:has(.confirm) {
    justify-content: center;
}

.confirm {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 440px;
    margin-inline: auto;
}

.confirm__icon {
    width: 50px;
    margin-bottom: 30px;
}

.confirm__text {
    line-height: 1.5em;
}

.confirm__title {
    margin: 0;
}

@media screen and (min-width: 992px) {
    .confirm__icon {
        width: auto;
    }
}